# Copyright © 2017 Alessandro Menti
#
# This file is licensed under the terms and conditions of the MIT license.
# See the LICENSE file for more details.

# OpenSSL configuration file for Web server CAs.

oid_file = additional_oids

[ca]
default_ca = webserver-domainvalidated_ca

[req]
default_bits = 4096
default_md = sha256
string_mask = utf8only
distinguished_name = req_dn

[req_dn]
givenName = "First name"
surname = "Surname"
organizationName = "Organization name"
businessCategory = "Business category"
serialNumber = "Identification number"
jurisdictionLocalityName = "Jurisdiction locality"
jurisdictionStateOrProvinceName = "Jurisdiction state or province"
jurisdictionCountryName = "Jurisdiction country"
streetAddress = "Street address"
localityName = "Locality"
stateOrProvinceName = "State or Province"
postalCode = "ZIP code"
countryName = "Country"
countryName_min = 2
countryName_max = 2

# ----------------------------------------------------------------------------
[webserver-domainvalidated_ca]
dir = ./webserver-domainvalidated
database = $dir/index
serial = $dir/serial
crlnumber = $dir/crlserial
certificate = $dir/webserver-domainvalidatedca.cer
private_key = $dir/webserver-domainvalidatedca.pvk
new_certs_dir = $dir/newcerts

# Choose SHA-256 as the hash algorithm.
default_md = sha256

# Make certificates valid for a year and CRLs valid for seven days.
default_days = 365
default_crl_days = 7

# To ease key rollover, allow certificates to have the same Subject DN and be
# valid at the same time.
unique_subject = no
# Only add the DN components/extensions we specify here to the issued
# certificates.
preserve = no
copy_extensions = none
email_in_dn = no
policy = webserver-domainvalidated_dn_policy
# Show (almost all) details when signing a certificate request.
name_opt = ca_default
cert_opt = ca_default

x509_extensions = webserver-domainvalidated_certificate_extensions
crl_extensions = webserver-domainvalidated_crl_extensions

# Extensions for Web server, domain validated certificates.
[webserver-domainvalidated_certificate_extensions]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
# Replace the domain names here
subjectAltName = critical,DNS:example.com,DNS:www.example.com
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
# Replace the URLs here
authorityInfoAccess = OCSP;URI:http://myca.example.com/ocsp/webserver-domainvalidatedca,caIssuers;URI:http://myca.example.com/repository/webserver-domainvalidatedca.cer
crlDistributionPoints = URI:http://myca.example.com/repository/webserver-domainvalidatedca.crl
# If you are following the validation practices mandated by the CA/Browser
# Forum, add "cabBRDomainValidated" to the line below.
certificatePolicies = @polsect
# If you are issuing precertificates and sending them to a CT log, add the
# following extensions as needed.
# ctPrecertificate = ASN1:NULL
# ctPrecertificateTimestampList = DER:FIXME

[webserver-domainvalidated_dn_policy]
# Do not trust anything

[webserver-domainvalidated_crl_extensions]
# Replace the URL here
authorityInfoAccess = caIssuers;URI:http://myca.example.com/repository/webserver-domainvalidatedca.cer
authorityKeyIdentifier = keyid:always
# ----------------------------------------------------------------------------
[webserver-individualvalidated_ca]
dir = ./webserver-individualvalidated
database = $dir/index
serial = $dir/serial
crlnumber = $dir/crlserial
certificate = $dir/webserver-individualvalidatedca.cer
private_key = $dir/webserver-individualvalidatedca.pvk
new_certs_dir = $dir/newcerts

# Choose SHA-256 as the hash algorithm.
default_md = sha256

# Make certificates valid for a year and CRLs valid for seven days.
default_days = 365
default_crl_days = 7

# To ease key rollover, allow certificates to have the same Subject DN and be
# valid at the same time.
unique_subject = no
# Only add the DN components/extensions we specify here to the issued
# certificates.
preserve = no
copy_extensions = none
email_in_dn = no
policy = webserver-individualvalidated_dn_policy
# Show (almost all) details when signing a certificate request.
name_opt = ca_default
cert_opt = ca_default

x509_extensions = webserver-individualvalidated_certificate_extensions
crl_extensions = webserver-individualvalidated_crl_extensions

# Extensions for Web server, individual validated certificates.
[webserver-individualvalidated_certificate_extensions]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
# Replace the domain names here
subjectAltName = critical,DNS:example.com,DNS:www.example.com
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
authorityInfoAccess = OCSP;URI:http://myca.example.com/ocsp/webserver-individualvalidatedca,caIssuers;URI:http://myca.example.com/repository/webserver-individualvalidatedca.cer
crlDistributionPoints = URI:http://myca.example.com/repository/webserver-individualvalidatedca.crl
# If you are following the validation practices mandated by the CA/Browser
# Forum, add "cabBRIndividualValidated" to the line below.
certificatePolicies = @polsect
# If you are issuing precertificates and sending them to a CT log, add the
# following extensions as needed.
# ctPrecertificate = ASN1:NULL
# ctPrecertificateTimestampList = DER:FIXME

[webserver-individualvalidated_dn_policy]
givenName = supplied
surname = supplied
localityName = supplied
stateOrProvinceName = optional
postalCode = optional
countryName = supplied

[webserver-individualvalidated_crl_extensions]
# Replace the URL here
authorityInfoAccess = caIssuers;URI:http://myca.example.com/repository/webserver-individualvalidatedca.cer
authorityKeyIdentifier = keyid:always
# ----------------------------------------------------------------------------
[webserver-organizationvalidated_ca]
dir = ./webserver-organizationvalidated
database = $dir/index
serial = $dir/serial
crlnumber = $dir/crlserial
certificate = $dir/webserver-organizationvalidatedca.cer
private_key = $dir/webserver-organizationvalidatedca.pvk
new_certs_dir = $dir/newcerts

# Choose SHA-256 as the hash algorithm.
default_md = sha256

# Make certificates valid for a year and CRLs valid for seven days.
default_days = 365
default_crl_days = 7

# To ease key rollover, allow certificates to have the same Subject DN and be
# valid at the same time.
unique_subject = no
# Only add the DN components/extensions we specify here to the issued
# certificates.
preserve = no
copy_extensions = none
email_in_dn = no
policy = webserver-organizationvalidated_dn_policy
# Show (almost all) details when signing a certificate request.
name_opt = ca_default
cert_opt = ca_default

x509_extensions = webserver-organizationvalidated_certificate_extensions
crl_extensions = webserver-organizationvalidated_crl_extensions

# Extensions for Web server, organization validated certificates.
[webserver-organizationvalidated_certificate_extensions]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
# Replace the domain names here
subjectAltName = critical,DNS:example.com,DNS:www.example.com
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
# Replace the URLs here
authorityInfoAccess = OCSP;URI:http://myca.example.com/ocsp/webserver-organizationvalidatedca,caIssuers;URI:http://myca.example.com/repository/webserver-organizationvalidatedca.cer
crlDistributionPoints = URI:http://myca.example.com/repository/webserver-organizationvalidatedca.crl
# If you are following the validation practices mandated by the CA/Browser
# Forum, add "cabBROrganizationValidated" to the line below.
certificatePolicies = @polsect
# If you are issuing precertificates and sending them to a CT log, add the
# following extensions as needed.
# ctPrecertificate = ASN1:NULL
# ctPrecertificateTimestampList = DER:FIXME

[webserver-organizationvalidated_dn_policy]
organizationName = supplied
streetAddress = optional
localityName = supplied
stateOrProvinceName = optional
postalCode = optional
countryName = supplied

[webserver-organizationvalidated_crl_extensions]
# Replace the URL here
authorityInfoAccess = caIssuers;URI:http://myca.example.com/repository/webserver-organizationvalidatedca.cer
authorityKeyIdentifier = keyid:always
# ----------------------------------------------------------------------------
[webserver-extendedvalidation_ca]
dir = ./webserver-extendedvalidation
database = $dir/index
serial = $dir/serial
crlnumber = $dir/crlserial
certificate = $dir/webserver-extendedvalidationca.cer
private_key = $dir/webserver-extendedvalidationca.pvk
new_certs_dir = $dir/newcerts

# Choose SHA-256 as the hash algorithm.
default_md = sha256

# Make certificates valid for a year and CRLs valid for seven days.
default_days = 365
default_crl_days = 7

# To ease key rollover, allow certificates to have the same Subject DN and be
# valid at the same time.
unique_subject = no
# Only add the DN components/extensions we specify here to the issued
# certificates.
preserve = no
copy_extensions = none
email_in_dn = no
policy = webserver-extendedvalidation_dn_policy
# Show (almost all) details when signing a certificate request.
name_opt = ca_default
cert_opt = ca_default

x509_extensions = webserver-extendedvalidation_certificate_extensions
crl_extensions = webserver-extendedvalidation_crl_extensions

[webserver-extendedvalidation_ca_certificate_extensions]
basicConstraints = critical,CA:TRUE,pathlen:0
keyUsage = critical,keyCertSign,cRLSign,digitalSignature
extendedKeyUsage = clientAuth,serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always

# Extensions for Web server, EV certificates.
[webserver-extendedvalidation_certificate_extensions]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
# Replace the domain names here
subjectAltName = critical,DNS:example.com,DNS:www.example.com
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
# Replace the URLs here
authorityInfoAccess = OCSP;URI:http://myca.example.com/ocsp/webserver-extendedvalidationca,caIssuers;URI:http://myca.example.com/repository/webserver-extendedvalidationca.cer
crlDistributionPoints = URI:http://myca.example.com/repository/webserver-extendedvalidationca.crl
# If you are following the validation practices mandated by the CA/Browser
# Forum, add "cabEVGuidelines" to the line below.
certificatePolicies = @polsect
# If you are issuing precertificates and sending them to a CT log, add the
# following extensions as needed.
# ctPrecertificate = ASN1:NULL
# ctPrecertificateTimestampList = DER:FIXME

[webserver-extendedvalidation_dn_policy]
organizationName = supplied
businessCategory = supplied
serialNumber = supplied
jurisdictionLocalityName = optional
jurisdictionStateOrProvinceName = optional
jurisdictionCountryName = supplied
streetAddress = optional
localityName = supplied
stateOrProvinceName = supplied
postalCode = optional
countryName = supplied

[webserver-extendedvalidation_crl_extensions]
# Replace the URL here
authorityInfoAccess = caIssuers;URI:http://myca.example.com/repository/webserver-extendedvalidationca.cer
authorityKeyIdentifier = keyid:always
# ----------------------------------------------------------------------------
[polsect]
# Replace myCPSOID with the OID associated to your CPS.
policyIdentifier = 1.2.3.4
# Replace the following URL with the one pointing to your CPS.
CPS.1 = "http://myca.example.com/repository/cps.pdf"
